################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Demo/.vs/Demo
/Demo/bin/Debug/net8.0
/Demo/obj
